<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">Employees Manager</h3>
</div>

<div align="center">
    <p class="lead">


        <br/>
       Add new employee
    </p>

</div>

<div class="footer">
    Released by Demozeug for learning purpose.
    "Reliable wind up employee" by <a href="http://www.cartoon-clipart.com/" target="_blank">cartoon-clipart.com</a>
</div>
