<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">Employees Manager</h3>
</div>

<div align="center">
    <p class="lead">
        <br>
        <img border=0
             src="images/employee.jpg"
             alt="Cartoon Clipart">

        <br/>
        Manage your employees infos with this cool app!
    </p>

    <p>
        <a class="btn btn-lg btn-success" ng-href="#show">Show</span></a>
        <a class="btn btn-lg btn-success" ng-href="#add">Add</span></a>
        <a class="btn btn-lg btn-success" ng-href="#manage">Manage</span></a></p>

</div>

<div class="footer">
    Released by Demozeug for learning purpose.
    "Reliable wind up employee" by <a href="http://www.cartoon-clipart.com/" target="_blank">cartoon-clipart.com</a>
</div>
